
.comment_list_wrap .comment_list .comment_list_item:not(.edit) > .comment_list_item_top    .edit-mode,
.comment_list_wrap .comment_list .comment_list_item:not(.edit) > .comment_list_item_bottom .edit-mode {display:none;}
.comment_list_wrap .comment_list .comment_list_item.edit > .comment_list_item_top    .view-mode,
.comment_list_wrap .comment_list .comment_list_item.edit > .comment_list_item_bottom .view-mode {display:none;}

.uppercase  { text-transform: uppercase !important; }
.lowercase  { text-transform: lowercase !important; }
.capitalize { text-transform: capitalize !important; }

/* Aspect ratio */
.ratio{ position:relative;width:100%;}
.ratio .ratio_img {position:absolute;top:0;width:100%;height:100%;}
.ratio.ratio_64_27{padding-top: 42.18%; /* 64:27 Aspect Ratio */}
.ratio.ratio_16_9{padding-top: 56.25%; /* 16:9 Aspect Ratio */}
.ratio.ratio_4_3{padding-top: 75%; /* 4:3 Aspect Ratio */}
.ratio.ratio_3_2{padding-top: 66.66%; /* 3:2 Aspect Ratio */}
.ratio.ratio_8_5{padding-top: 62.5%; /* 8:5 Aspect Ratio */}

/* align */
.al {text-align:left;}
.ac {text-align:center;}
.ar {text-align:right;}

