@charset "utf-8";

/*
 * File       : rwd_my_page.css
 * Author     : STUDIO-JT (HEE)
 * Guideline  : JTstyle.1.1
 *
 * SUMMARY:
 * 01) 1280px
 * 02) 1023px
 * 03) 768px
 * 04) 540px
 * 05) 340px
 */



/* **************************************** *
 * 1280px
 * **************************************** */
@media(max-width: 1280px){
	/* REMOVE ACCOUNT */
	.remove_account_info.dankkum_sub_info {padding-top: 31px;padding-bottom: 36px;}
}



/* **************************************** *
 * 1023px
 * **************************************** */
@media(max-width: 1023px){
	/* MYPAGE */
	.mypage_info {padding: 24px 28px; margin-bottom: 40px;}
	.mypage_info h2 {font-size: 26px;}

	/* CHANGING INFO */
	.changing_info_content:before {height: 3px;}
	.changing_info_small_title {font-size: 20px;padding-bottom: 14px;}

	/* REMOVE ACCOUNT */
	.remove_account_container:before, .remove_account_container:after {height: 3px;}
	.remove_account_reason_container.jt_form_data .jt_form_label_wrap,
	.remove_account_reason_container.jt_form_data .jt_form_field_wrap {width:100%;}
	.remove_account_info_checkbox {padding-top: 20px;}
	.remove_account_info_container {padding-bottom: 35px;margin-bottom: 28px;}
	.remove_account_reason_container {padding-top: 20px;}
	.remove_account_reason_container .jt_form_field_wrap {padding-top: 22px;}
	.remove_account_reason_container .jt_form_data_reason {margin-bottom: -20px;}
	.remove_account_reason_container > .jt_form_label_wrap > .jt_label {font-size: 15px;}

}



/* **************************************** *
 * 768px
 * **************************************** */
@media(max-width: 768px){
	/* MYPAGE */
	.mypage_info {padding: 20px 22px; margin-bottom: 30px;}
	.mypage_info h2 {font-size: 24px;}
	.mypage_info a {font-size: 14px; padding: 6px 10px;}
	.mypage_recent h4 {font-size: 18px; padding-left: 12px;}
	.mypage_recent h4:before {top: 9px; width: 4px; height: 4px;}

	.mypage .jt_grid_list_wrap {padding-top: 29px;}

	/* PW CHECK */
	.pw_check .changing_info_content {padding: 32px 0 26px;}

	/* CHANGING INFO */
	.changing_info_content {padding: 32px 0 32px;}
	.changing_info_content_sns {padding: 28px 0 0;margin-bottom: 51px;}
	.changing_info_content_remove_account  {padding: 28px 0 23px;}
	.changing_info_content_sns li {padding-bottom: 23px;margin-bottom: 23px;padding-left: 30px;}
	.changing_info_content_sns b {font-size: 15px;padding-right: 40px;}
	.changing_info_content_sns p {font-size: 15px;padding-left: 15px;padding-right: 0;}
	.changing_info_content_sns button,
	.changing_info_content_remove_account a {height: 40px;}
	.changing_info_content_remove_account a span {padding: 1px 0;display: block;}
	html.mac.desktop .changing_info_content_remove_account a span {padding-top: 3px;}
	html.ios .changing_info_content_remove_account a span {margin-top: 3px;}
	.changing_info_content_remove_account p {width: -webkit-calc(100% - 120px);width: calc(100% - 120px);}
	.changing_info_small_title {padding-bottom: 8px;margin-top: 0;}
	.changing_info_section,
	.changing_info_section.join_agree_terms {margin-top: 30px;padding-top: 20px;}

	.changing_info_content #profile_data_id {margin-top: -15px;}

	/* REMOVE ACCOUNDT */
	.remove_account_container {padding: 32px 0 26px;}
	.remove_account_info_checkbox {padding-top: 16px;}
	.remove_account_info_container {padding-bottom: 31px;margin-bottom: 24px;}
	.remove_account_promise {font-size: 15px;line-height: 1.55;}
	.remove_account_promise br {display: none;}
	.remove_account_reason_container {padding-top: 14px;}
	.remove_account_reason_container .jt_form_field_wrap {padding-top: 20px;}
	.remove_account_reason_container > .jt_form_label_wrap > .jt_label {font-size: 14px;}
	.remove_account_reason_container > .jt_form_label_wrap > .jt_label i {font-size: 12px;}

	.remove_account_bar_title {margin-bottom: 10px;}
	.remove_account_bar_title > span {font-size: 13px;}
	.remove_account_bar {height: 6px;}
	.remove_account_bar_choice {margin-top: 12px;}
}



/* **************************************** *
 * 540px
 * **************************************** */
@media(max-width: 540px){
	/* MYPAGE */
	.mypage_info {margin-bottom: 32px; padding: 14px 18px; margin-bottom: 30px;}
	.mypage_info h2 {font-size: 18px;}
	.mypage_info a {font-size: 13px; padding: 6px 8px 7px; margin-left: 12px;}
	html.ios .mypage_info h2 {padding-top: 2px;}
	html.ios .mypage_info a {padding: 7px 8px 6px; margin-top: 0px;}

	.mypage .jt_grid_list_wrap {padding-top: 29px;}

	/* PW CHECK */
	.pw_check .changing_info_content {padding: 25px 0 29px;}

	/* CHANGING INFO */
	.changing_info_content {padding: 22px 0 25px;}
	.changing_info_content_sns {padding:22px 0 0;margin-bottom: 45px;}
	.changing_info_content_sns li {padding-bottom: 17px;margin-bottom: 17px;padding-left: 0;}
	.changing_info_content_sns b {padding-left: 0;width: -webkit-calc(100% - 94px);width: calc(100% - 94px);padding-right: 0;}
	.changing_info_content_sns p {display: block;padding-left: 0;font-size: 14px;padding-top: 8px;text-align: right;line-height: 1.55;}
	.changing_info_content_remove_account p {width: 100%;padding-right: 0;line-height: 1.55;}
	.changing_info_content_remove_account .remove_account_btn {margin-top:8px;}
	html.ios .changing_info_content_sns button {padding: 7px 8px 9px;}
	html.ios .changing_info_content_remove_account .remove_account_btn {padding: 7px 8px 9px}
	.changing_info_section,
	.changing_info_section.join_agree_terms {margin-top: 25px;padding-top: 15px;}
	.changing_info_control {margin-top: 30px;}

	/* REMOVE ACCOUNDT */
	.remove_account_container {padding: 25px 0;}
	.remove_account_info.dankkum_sub_info {padding-top: 19px;padding-bottom: 20px;}
	.remove_account_info_checkbox {padding-top: 10px;}
	.remove_account_info_container {padding-bottom: 27px;margin-bottom: 20px;}
	.remove_account_promise br {display:none;}
	.remove_account_reason_container .jt_form_field_wrap {padding-top:10px;}
	.remove_account_reason_container .jt_form_data_reason .jt_icheck_label {width:100%;margin-bottom: 14px;}
	.remove_account_reason_container .jt_form_data_reason .jt_icheck_label:last-child {margin-bottom:0;}
	.remove_account_reason_container .jt_form_data_reason {margin-bottom: 0;}
}



/* **************************************** *
 * 340px
 * **************************************** */
@media(max-width: 340px){
	.mypage_info h2 {font-size: 16px;}
	.mypage_info a {margin-left: 10px; padding: 5px 6px 6px;}
	html.ios .mypage_info a {padding: 6px 6px 5px;}

	.mypage_recent h4 {padding-left: 13px;}
	.mypage .jt_grid_tab li {padding-right: 12px;}
	.mypage .jt_grid_tab li:last-child {padding-right: 0;}
	.mypage .jt_grid_tab li:after { top: 7px; right: 4px; width: 3px; height: 3px; }
}
