@charset "utf-8";

/*
 * File       : rwd_main.css
 * Author     : STUDIO-JT (KMS)
 * Guideline  : JTstyle.1.1
 *
 * SUMMARY:
 * 01) introduce custom rwd
 * 02) min-width: 1024px
 * 03) 1800px
 * 04) 1640px
 * 05) 1500px
 * 06) 1380px
 * 07) 1200px
 * 08) min-width: 1024px / max-height: 755px
 * 09) 1023px
 * 10) 768px
 * 11) 680px
 * 12) 540px
 * 13) 380px
 */



/* **************************************** *
 * introduce custom rwd
 * **************************************** */
@media (min-width: 2000px){
    .main_introduce .home_illust_primary_point {left: -55.3%;top: -52.7%;}
}

@media (min-width: 1024px) {
    .main_introduce .main_section_circle {left: -99px;right: auto;}
    .main_introduce .main_section_content.secondary {width: 40%;margin-left: auto;}
}

@media (max-width: 1800px) and (min-width: 1024px) {
    .main_introduce .main_section_content.secondary {width: 45%;}
}

@media (max-width: 1640px) and (min-width: 1024px) {
    .main_introduce .main_section_circle {left: auto;right: 50%;}
    .main_introduce .main_section_content.secondary {width: 40%;}
}

@media (max-width: 1500px) and (min-width: 1024px) {
    .main_introduce .main_section_content.secondary {width: 50%;}
    .main_introduce .main_section_content.secondary .main_content_cover_inner {padding-right: 0;padding-left: 15%;}
}

@media (max-width: 1200px) and (min-width: 1024px) {
    .main_introduce .main_section_circle {right: 52%;}
}



/* **************************************** *
 * min-width: 1024px
 * **************************************** */
@media (min-width: 1024px){
    /* reset layout style (fullpage type) */
    .body_home .main_container {padding-top: 0;}
    .body_home .go_top {opacity: 0;z-index: -1;}

    /* bottom */
    .body_home.fp-viewing-5 .main_bottom_overlay {opacity: 1;visibility: visible;}
    .body_home.fp-viewing-5 #footer {z-index: 3;}
    .body_home.fp-viewing-5 .go_top {opacity: 1;z-index: 999;}
}



/* **************************************** *
 * 1800px
 * **************************************** */
@media (max-width: 1800px){
    /* global */
    .main_section_circle {width: 640px;height: 640px;right: -50px;}

    /* visual */
    .main_visual_state {left: 0;}
}



/* **************************************** *
 * 1640px
 * **************************************** */
@media (max-width: 1640px){
    /* fullpage */
    #fp-nav.right {right: 24px;}

    /* global */
    .main_section_circle {width: 50%;height: auto;padding-top: 50%;right: auto;left: 50%;}

    .main_txt_wrap > h2 {font-size: 43px;}

    /* visual */
    .main_visual_slider_wrap .cycle_prev {left: -105px;}

    /* circle illust */
    .main_visual .home_illust_primary_point {width: 672px;height: 672px;right: -3.5%;}
    .main_visual .home_illust_secondary_point {width: 672px;height: 672px;right: -50.7%;}

    .main_media .home_illust_primary_point {width: 848px;height: 848px;left: -42.8%;top: -70.8%;}
    .main_media .home_illust_secondary_point {width: 437px;height: 437px;right: -37.4%;top: 64.1%;}

    .main_project .home_illust_primary_point {width: 638px;height: 638px;left: -57%;top: 8%;}
    .main_project .home_illust_secondary_point {width: 681px;height: 681px;right: -47%;}

    .main_introduce .home_illust_primary_point {width: 841px;height: 841px;left: -42.3%;top: -74.7%;}
    .main_introduce .home_illust_secondary_point {width: 417px;height: 417px;right: -32.6%;top: 76.7%;}

    .main_character .home_illust_primary_point {width: 536px;height: 526px;left: -48.5%;top: 1.6%;}
    .main_character .home_illust_secondary_point {width: 933px;height: 933px;right: -15.3%;}
}



/* **************************************** *
 * 1500px
 * **************************************** */
@media (max-width: 1500px){
    /* global */
    .main_section_circle {width: 44%;padding-top: 44%;}

    .main_content_cover_inner {padding: 0 7.5%;}
    .main_section_content.secondary .main_content_cover_inner {padding-left: 15%;}

    .main_txt_wrap.secondary {margin-bottom: 40px;}
    .main_txt_wrap > h2 {font-size: 40px;}
    .main_txt_wrap > span {margin-bottom: 12px;}

    /* visual */
    .main_visual_content_inner {padding-left: 15%;padding-right: 36px;}
    .main_visual_content .main_txt_wrap > h2 {font-size: 36px;}
    .main_visual_content .main_txt_wrap > h2 br {display: none;}

    .main_visual_state {left: 7.5%;}

    .main_visual_slider_wrap .cycle_prev {left: -20px;}

    /* media */
    .main_media_list {margin-left: -8px;margin-right: -8px;}
    .main_media_item {padding: 0 8px;}

    /* circle illust */
    .main_visual .home_illust_primary_point {width: 622px;height: 622px;right: 0;}
    .main_visual .home_illust_secondary_point {width: 622px;height: 622px;right: -44.7%;}

    .main_media .home_illust_primary_point {width: 798px;height: 798px;left: -38.8%;top: -79.8%;}
    .main_media .home_illust_secondary_point {width: 387px;height: 387px;right: -24.4%;top: 58.1%;}

    .main_project .home_illust_primary_point {width: 588px;height: 588px;left: -46%;top: 0;}
    .main_project .home_illust_secondary_point {width: 621px;height: 621px;right: -37%;}

    .main_introduce .home_illust_primary_point {width: 791px;height: 791px;left: -37.3%;top: -74.7%;}
    .main_introduce .home_illust_secondary_point {width: 367px;height: 367px;right: -19.6%;top: 73.7%;}

    .main_character .home_illust_primary_point {width: 476px;height: 476px;left: -34%;top: 3%;}
    .main_character .home_illust_secondary_point {width: 883px;height: 883px;right: -8.3%;}
}



/* **************************************** *
 * 1380px
 * **************************************** */
@media (max-width: 1380px){
    /* global */
    .main_section {padding-top: 90px;}

    .main_txt_wrap.secondary {margin-bottom: 30px;}
    .main_txt_wrap > h2 {font-size: 38px;}
    .main_txt_wrap > p {padding: 12px 0 20px;}

    /* visual */
    .main_visual_slider_wrap .cycle_prev {left: -10px;}

    /* media */
    .main_media_txt {padding-top: 20px;}
    .main_media_txt p {margin-top: 6px;}
    .main_media_type {width: 42px;height: 42px;font-size: 22px;line-height: 42px;}
    .main_media_type.sound {font-size: 26px;}
}



/* **************************************** *
 * 1200px
 * **************************************** */
@media (max-width: 1200px){
    /* fullpage */
    #fp-nav ul li {padding: 18px 0;}
    #fp-nav ul li .fp-tooltip {height: 42px;margin-top: -21px;}
    #fp-nav ul li .fp-tooltip span {line-height: 42px;}

    /* global */
    .main_section_circle {width: 42%;padding-top: 42%;left: 52%;}

    .main_section_content.secondary .main_content_cover_inner {padding-right: 0;}

    .main_txt_wrap > h2 {font-size: 34px;}

    /* visual */
    .main_visual_content .main_txt_wrap > h2 {font-size: 34px;}

    .main_visual_slider_wrap .cycle_next {right: 27px;}

    /* circle illust */
    .main_visual .home_illust_primary_point {width: 562px;height: 562px;right: 1%;}
    .main_visual .home_illust_secondary_point {width: 562px;height: 562px;right: -39.7%;}

    .main_media .home_illust_primary_point {width: 738px;height: 738px;left: -31.8%;top: -75.8%;}
    .main_media .home_illust_secondary_point {width: 357px;height: 357px;right: -20.4%;top: 63.1%;}

    .main_project .home_illust_primary_point {width: 528px;height: 528px;left: -42%;}
    .main_project .home_illust_secondary_point {width: 561px;height: 561px;right: -36%;}

    .main_introduce .home_illust_primary_point {width: 731px;height: 731px;}
    .main_introduce .home_illust_secondary_point {width: 307px;height: 307px;right: -12.6%;top: 79.7%;}

    .main_character .home_illust_primary_point {width: 416px;height: 416px;left: -36%;}
    .main_character .home_illust_secondary_point {width: 823px;height: 823px;right: -13.3%;}
}



/* **************************************** *
 * min-width: 1024px / max-height: 755px
 * **************************************** */
@media (min-width: 1024px) and (max-height: 755px){
    /* visual */
    .main_visual_content_inner {padding-bottom: 55px;}
    .main_visual_state {bottom: 55px;}
}



/* **************************************** *
 * 1023px
 * **************************************** */
@media (max-width: 1023px){
    /* fullpage */
    #fp-nav {display: none !important;}

    /* global */
    .home_illust_item {display: none;}
    .home_illust_point {background: no-repeat center center;background-size: cover;}
    .home_illust_primary_point {background-image: url(/ibom/resources/images/icon/circle_primary.svg);}
    .home_illust_secondary_point {background-image: url(/ibom/resources/images/icon/circle_secondary.svg);}

    .main_section {padding-top: 65px;padding-bottom: 65px;height: auto !important;}
    .main_content_cover_inner {padding: 0;}
    .main_section_circle {width: 420px;padding-top: 420px;margin: 0 auto;position: relative;left: auto;top: auto;-webkit-transform: none;-ms-transform: none;transform: none;}

    .main_section_content.secondary {width: 100%;}
    .main_section_content.secondary .main_content_cover_inner {padding-left: 0;}

    .main_txt_wrap > span {padding: 7px 14px 6px;font-size: 12px;}

    /* visual */
    .main_visual.main_section {padding-top: 30px;}
    .main_visual .home_illust_point,
    .main_visual .main_section_circle {display: none;}

    .main_visual_slider {width: 100%;}
    .main_visual_image {display: block;width: 420px;padding-top: 420px;margin: 0 auto;position: relative;border-radius: 50%;overflow: hidden;}
    .main_visual_image img {width: 125%;height: 125%;position: absolute;left: 50%;top: 50%;-webkit-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}
    .main_visual_content_inner {padding-left: 0;padding-right: 0;padding-top: 52px;vertical-align: top;}

    .main_visual_content .main_txt_wrap > h2 br {display: block;}

    .main_visual_slider_wrap .cycle_control {margin-top: 0;top: -180px;}
    .main_visual_slider_wrap .cycle_prev {left: 0;}
    .main_visual_slider_wrap .cycle_next {right: 0;}

    .main_visual_state {left: 0;top: 424px;bottom: auto;}

    /* media */
    .main_media .home_illust_point {width: 310px;height: 310px;}
    .main_media .home_illust_primary_point {left: inherit;right: 79px;top: -67.9%;}
    .main_media .home_illust_secondary_point {right: -120px;top: -67.9%;}

    .main_media .main_section_circle {margin-left: 0;}
    .main_media .main_section_content.secondary {width: 55%;margin-left: auto;}

    /* project */
    .main_project .home_illust_primary_point {display: none;}
    .main_project .home_illust_secondary_point {width: 400px;height: 400px;top: -22%;right: -19.3%;}
    .main_project .main_section_circle {margin-left: 0;}
    .main_project .main_section_content.secondary {width: 55%;margin-left: auto;}

    /* introduce */
    .main_introduce .home_illust_primary_point {width: 500px;height: 500px;top: -36%;left: -30%;}
    .main_introduce .home_illust_secondary_point {display: none;}

    /* character */
    .main_character .home_illust_primary_point {width: 476px;height: 476px;top: 28%;left: -24%;}
    .main_character .home_illust_secondary_point {width: 420px;height: 420px;top: -37%;right: -7.3%;}

    .main_character .main_section_circle {margin-left: 0;}
    .main_character .main_section_content.secondary {width: 55%;margin-left: auto;}

    /* bottom */
    .main_bottom {padding-top: 13%;}
    .main_bottom_overlay {display: none;}
}



/* **************************************** *
 * 768px
 * **************************************** */
@media (max-width: 768px){
    /* global */
    .main_txt_wrap > p {font-size: 15px;}

    /* media */
    .main_media .home_illust_point {width: 250px;height: 250px;}
    .main_media_type {width: 36px;height: 36px;font-size: 18px;line-height: 36px;}
	.main_media_txt {padding: 20px 0 0;}

    /* introduce */
    .main_introduce .home_illust_primary_point {width: 459px;height: 459px;}

    /* character */
    .main_character .home_illust_secondary_point {width: 360px;height: 360px;right: -16.3%;}
}



/* **************************************** *
 * 680px
 * **************************************** */
@media (max-width: 680px){
    /* global */
    .main_section_content.secondary {padding-top: 30px;}

    .main_txt_wrap > h2 {font-size: 30px;}
    .main_txt_wrap > span {margin-bottom: 10px;padding: 6px 12px 5px;font-size: 11px;}

    /* visual */
    .main_visual_content .main_txt_wrap > h2 {font-size: 30px;}

    .main_visual_state {width: 100%;top: 450px;text-align: center;}
    .main_visual_state .cycle_caption, .main_visual_state .cycle_progress_wrap, .main_visual_state .cycle_state {display: none !important;}
    .main_visual_state .cycle_pager {display: block;}

    /* media */
    .main_media .home_illust_primary_point {right: 32px;top: -25%;}
    .main_media .home_illust_secondary_point {right: -167px;top: -25%;}

    .main_media_list {margin-left: 0;margin-right: 0;}
    .main_media_item {width: 100%;padding: 0;}
    .main_media_thumb img {width: 100%;}
    .main_media_item + .main_media_item {margin-top: 36px;}

    /* project */
    .main_project .home_illust_secondary_point {width: 340px;height: 340px;top: -18%;right: -10.3%;}

    .main_project .main_section_circle {margin-left: auto;}
    .main_project .main_section_content.secondary {width: 100%;}

    /* introduce */
    .main_introduce .home_illust_primary_point {width: 380px;height: 380px;left: inherit;right: -37%;top: -46%;}

    /* character */
    .main_character .home_illust_secondary_point {width: 320px;height: 320px;right: -21.3%;}
    .main_character .home_illust_primary_point {width: 400px;height: 400px;top: inherit;left: inherit;bottom: -30%;right: -33%;}

    .main_character .main_section_circle {margin-left: auto;}
    .main_character .main_section_content.secondary {width: 100%;}
}



/* **************************************** *
 * 540px
 * **************************************** */
@media (max-width: 540px){
    /* global */
    .main_section {padding-top: 57px;padding-bottom: 57px;}

    .main_section_circle {width: 80%;padding-top: 80%;}

    .main_txt_wrap.secondary {margin-bottom: 27px;}
    .main_txt_wrap > h2 {font-size: 26px;}
    .main_txt_wrap > p {padding: 10px 0 20px;font-size: 15px;line-height: 1.6;}
    .main_txt_wrap > h2 br, .main_txt_wrap > p br {display: none;}
    .main_txt_wrap > span {font-size: 10px;}

    .home_container .jt_btn_icon {padding: 19px 28px 18px;}
    html.ios .home_container .jt_btn_icon {padding-top: 18px;}

    /* visual */
    .main_visual_image {width: 80%;padding-top: 80%;}

    .main_visual_content .main_txt_wrap > h2 {font-size: 26px;}
    .main_visual_content .main_txt_wrap > h2 br,
    .main_visual_content .main_txt_wrap > p br {display: none;}

    .main_visual_slider_wrap .cycle_control, .main_visual_state {top: 0;opacity: 0;-webkit-transition: opacity 400ms;transition: opacity 400ms;}
    .main_visual_slider_wrap .cycle_control.loaded, .main_visual_state.loaded {opacity: 1;}
    .main_visual_slider_wrap .cycle_btn {font-size: 18px;background: none;}
    .main_visual_slider_wrap .cycle_prev {left: -23px;}
    .main_visual_slider_wrap .cycle_prev:after {content: '\e93e';}
    .main_visual_slider_wrap .cycle_next {right: -23px;}
    .main_visual_slider_wrap .cycle_next:after {content: '\e93f';}

    /* media */
    .main_media .home_illust_point {width: 138px;height: 138px;}
    .main_media .home_illust_primary_point {right: 54px;top: -20%;}
    .main_media .home_illust_secondary_point {right: -55px;top: -20%;}

    .main_media_item + .main_media_item {margin-top: 30px;}
    .main_media_txt {padding-top: 16px;}
    .main_media_txt h3 {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;max-height: 3.24em;white-space: normal;font-size: 16px;line-height: 1.62;}
    .main_media_txt p {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;max-height: 3.2em;white-space: normal;font-size: 14px;line-height: 1.6;}

    /* project */
    .main_project .home_illust_secondary_point {width: 165px;height: 165px;top: -6%;right: 11%;}

    /* introduce */
    .main_introduce .home_illust_primary_point {width: 177px;height: 177px;right: -17%;top: -26%;}

    /* character */
    .main_character.main_section {padding-bottom: 0;}
    .main_character .home_illust_primary_point {width: 320px;height: 320px;bottom: -42%;right: -31%;}
    .main_character .home_illust_secondary_point {width: 117px;height: 117px;top: -22%;right: 2.5%;}

    /* bottom */
    .main_bottom {padding-top: 18%;}
}



/* **************************************** *
 * 380px
 * **************************************** */
@media (max-width: 380px){
    /* media */
    .main_media .home_illust_primary_point {right: 5px;top: -22%;}
    .main_media .home_illust_secondary_point {right: -105px;top: -22%;}

    /* project */
    .main_project .home_illust_secondary_point {top: -9%;right: 6%;}

    /* introduce */
    .main_introduce .home_illust_primary_point {right: -100px;top: -29%;}

    /* character */
    .main_character .home_illust_primary_point {bottom: -50%;right: -150px;}
    .main_character .home_illust_secondary_point {right: 0;}
}
