@charset "utf-8";

/*
 * File       : sub_member.css
 * Author     : STUDIO-JT (JDY)
 * Guideline  : JTstyle.1.1
 *
 * Dependency : css/reset.css
 *              css/jt_strap.css
 *
 * SUMMARY:
 * 1) PROJECT
 */



/* **************************************** *
 * PROJECT
 * **************************************** */
.jt_isotope_list {position:relative; font-size: 0; margin-left: -1.5%; margin-right: -1.5%;}
.jt_isotope_list:after {content: '';display: table;clear: both;}
.jt_isotope .isotope_item {display: inline-block; vertical-align: top; width: 25%; padding-left: 1.5%; padding-right: 1.5%;}

.project_list {position: relative;padding-top: 45px;margin-bottom: -11px; }
.project_list:before {content: '';display: block;width: 100%;height: 5px;position: absolute;top: 0;left: 0;background-color: #f07e23;border-radius: 25px;overflow: hidden;}
.project_list:after {content:''; display:table; clear:both;}
.project_list b {font-size:16px;line-height:1.35;color:#222;letter-spacing:-0.025em;display: block;padding-top: 22px; word-break:keep-all;}
.project_list_thumbnail {border-radius: 5px;overflow: hidden;}
.project_list_thumbnail img {max-width:100%; width: 100%; vertical-align:middle;}
.project_list_content {position:relative;}
.project_list_post {position:absolute;top:0;left:0;bottom: 0;right: 0;width:100%;height:100%;background:url(/img/sub/project/project_list_hover.jpg) no-repeat center center;background-size: cover;padding:48px 40px;opacity: 0;visibility: hidden;-webkit-transition: 300ms;transition: 300ms;border-radius: 5px;}
.project_list_post span {font-size:20px; line-height:1.3; color:#fff;letter-spacing:-0.025em;}
.project_list_post h2 {display: none;}
.project_list_post p {font-size:16px;line-height:1.75;color:#fff;letter-spacing:-0.025em;margin-top:9px;position:relative;word-break: keep-all;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical; overflow: hidden;max-height: 7em;height:100%;}
.project_list_content:hover .project_list_post {opacity:1;visibility: visible;}
.project_list_post .jt_btn_square {position:absolute;bottom: 41px;left: 39px;}

.project_list_comming_soon { position:relative; text-align:center;}
.project_list_comming_soon figure {overflow: hidden; border-radius: 4px 4px 0 0;}
.project_list_comming_soon img {max-width:100%; width: 100%; vertical-align:middle;}
.project_list_comming_soon span {font-size: 90px;line-height:1; color:#ddd;letter-spacing: -0.05em;}
.project_list_comming_soon span.project_list_meta {display: none; font-size: 13px; color: #2cb9bd; letter-spacing: -0.05em; margin-bottom: 7px;}
.project_list_comming_soon h2 {font-size: 22px; color:#222;letter-spacing: -0.05em;padding-top:14px; word-break:keep-all;}
.project_list_comming_soon p {font-size: 15px; line-height:1.55; color:#666;letter-spacing: -0.05em;padding-top:13px; word-break:keep-all;}
.project_list_comming_soon_content {position:absolute;top: 50%;left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 100%;padding: 0 20px;}
