<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alldayServApMapper">
<select id="selectListUser" parameterType="string" resultType="AlldayServAp">
	select  rownum, adsa_no, office_name, req_date, baby_name, baby_birth, start_hope_month, receipt_date, waiting_no
from (select * from ALLDAYSERV_AP 
left join iusers using(user_id) 
left join office using(office_code) 
where user_id = #{value}
order by adsa_no desc)
</select>
	

	

</mapper>
