<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="actListViewMapper">
	
	<select id="selectActListView" parameterType="CommonPaging" resultType="ActListView">
			select * from (
				select rownum rnum, apply_date, transferor, apply_status, 
				dol_type, service_type, family_name, dolbomi_id, care_day,
				start_time, end_time,total_pay, dolbom_place,log_category, service2_no,family_code
       		    from ACT_LIST_VIEW
       		    where 
       		    <if test="ibom_id != null">
				dolbomi_id = #{ibom_id}
				</if>
				<if test="user_id != null">
				user_id = #{user_id}
				</if>)
		<![CDATA[
				where rnum >= #{startList} and rnum <= #{endList}
		]]>
				order by apply_date desc
	</select>
	<select id="getListCount" parameterType="CommonPaging" resultType="_int">
		select count(*) from ACT_LIST_VIEW where 
		<if test="ibom_id != null">
		dolbomi_id = #{ibom_id}
		</if>
		<if test="user_id != null">
		user_id = #{user_id}
		</if>
	</select>
	
	<select id="searchDolActList" parameterType="AsDate" resultType="ActListView">
		select * 
		from ACT_LIST_VIEW 
		where TO_CHAR(apply_date,'YY/MM/DD')BETWEEN TO_CHAR(#{stDate},'YY/MM/DD') 
		and TO_CHAR(#{endDate},'YY/MM/DD') and dolbomi_id = #{dol_id} and LOG_CATEGORY = #{log_category}
		order by apply_date asc
	</select>
	<select id="searchUserActList" parameterType="AsDate" resultType="ActListView">
		select * 
		from ACT_LIST_VIEW 
		where TO_CHAR(apply_date,'YY/MM/DD')BETWEEN TO_CHAR(#{stDate},'YY/MM/DD') and 
		TO_CHAR(#{endDate},'YY/MM/DD') and user_id = #{dol_id} and apply_status = #{log_category}
		order by apply_date asc
	</select>
	
</mapper>