<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alldayServApMapper">



	<select id="adminSelectOne" parameterType="string" resultType="AlldayServAp">
		select * 
from (select rownum as num, adsa_no, user_id, user_name, baby_name, baby_birth, start_hope_month, waiting_no, 
        receipt_date, office_name, req_date, baby_type, baby_rela, user_email, user_phone, apply_status,
         fam_typ_choi1, fam_typ_choi2, fam_typ_choi3, fam_typ_choi4, fam_typ_choi5, fam_typ_choi6
        from (select adsa_no, A.user_id, user_name, baby_name, to_char(baby_birth, 'YYYY-MM-DD') as baby_birth, 
                substr(start_hope_month, 1, 4)||'년'||substr(start_hope_month, 5)||'월' AS start_hope_month, waiting_no, 
                receipt_date, office_name, req_date, baby_type, baby_rela, A.user_email, A.user_phone, apply_status,
                 fam_typ_choi1, fam_typ_choi2, fam_typ_choi3, fam_typ_choi4, fam_typ_choi5, fam_typ_choi6
                from alldayserv_ap A, iusers B, office C
                where A.user_id = B.user_id and B.office_code = C.office_code))
		where adsa_no = #{value}
	</select>
	<select id="selectListUser" parameterType="string" resultType="AlldayServAp">
		select * from
					(select rownum as num, adsa_no, user_id, user_name, baby_name, baby_birth, start_hope_month, waiting_no, receipt_date, office_name, req_date
					from (select adsa_no, A.user_id, user_name, baby_name, to_char(baby_birth, 'YYYY-MM-DD') as baby_birth, 
			        substr(start_hope_month, 1, 4)||'년'||substr(start_hope_month, 5)||'월' AS start_hope_month, waiting_no, receipt_date, office_name, req_date
			from alldayserv_ap A, iusers B, office C
			where A.user_id = B.user_id and B.office_code = C.office_code and A.user_id = #{value}
		order by adsa_no desc))
	</select>
	
	<select id="listCount" resultType="int" parameterType="com.kh.ibom.common.CommonPaging">
		select count(*)
			from (select A.user_id, user_name, baby_name, to_char(baby_birth, 'YYYY-MM-DD') as baby_birth, 
			        substr(start_hope_month, 1, 4)||'년'||substr(start_hope_month, 5)||'월' AS start_hope_month, waiting_no, receipt_date, office_name
			from alldayserv_ap A, iusers B, office C
			where A.user_id = B.user_id and B.office_code = C.office_code)
		<if test="in_center != null and search =='center'">
		where office_name = #{in_center} 
		</if>
	</select>
	
	<select id="adminSelectList" resultType="AlldayServAp" parameterType="com.kh.ibom.common.CommonPaging">
		select * from
					(select rownum as num, adsa_no, user_id, user_name, baby_name, baby_birth, start_hope_month, waiting_no, receipt_date, office_name, req_date
					from (select adsa_no, A.user_id, user_name, baby_name, to_char(baby_birth, 'YYYY-MM-DD') as baby_birth, 
			        substr(start_hope_month, 1, 4)||'년'||substr(start_hope_month, 5)||'월' AS start_hope_month, waiting_no, receipt_date, office_name, req_date
			from alldayserv_ap A, iusers B, office C
			where A.user_id = B.user_id and B.office_code = C.office_code order by req_date desc))			
		<![CDATA[ where num >= #{startList} and num <= #{endList}]]>
	</select>
	

	<insert id="insertAdsa" parameterType="AlldayServAp">
	<![CDATA[insert into alldayserv_ap values('allday_00'||adsa_seq.nextval, #{user_id}, #{baby_rela}, #{user_email}, #{user_phone}, null, #{baby_type}, #{start_hope_month}, #{baby_name}, #{baby_birth}, 
		#{fam_typ_choi1}, #{fam_typ_choi2}, #{fam_typ_choi3}, #{fam_typ_choi4}, #{fam_typ_choi5}, #{fam_typ_choi6}, sysdate, (select max(WAITING_NO) + 1 from alldayserv_ap), '미접수', null)]]>
	</insert>
	
	<update id="adminReceipt" parameterType="string">
		update alldayserv_ap set receipt_date = sysdate, apply_status = '대기중' where adsa_no = #{value}
	</update>
	
	<update id="updateAdsa" parameterType="AlldayServAp">
		update alldayserv_ap 
		set baby_name = #{baby_name}, baby_type = #{baby_type}, baby_birth = #{baby_birth}, user_phone = #{user_phone},
			start_hope_month = #{start_hope_month}, waiting_no = #{waiting_no}, apply_status = #{apply_status}, 
			fam_typ_choi1 = #{fam_typ_choi1}, fam_typ_choi2 = #{fam_typ_choi2}, fam_typ_choi3 = #{fam_typ_choi3}, 
			fam_typ_choi4 = #{fam_typ_choi4}, fam_typ_choi5 = #{fam_typ_choi5}, fam_typ_choi6 = #{fam_typ_choi6}
		where adsa_no = #{adsa_no}
	</update>
	
	

</mapper>
