<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dolbomiMapper">


	<insert id="insert" parameterType="Dolbomi">
		insert into DOLBOMI
		VALUES(#{dol_id},#{dol_pwd},#{dol_name},#{resident_no},
		#{dol_phone},#{term_code},#{dol_termyesno}, #{dol_email},
		#{dol_address}, sysdate, sysdate, #{bank}, #{dol_account}, NULL, NULL,
		#{license_code}, #{office_code}, default)
	</insert>


	<select id="selectLoginOne" parameterType="String"
		resultType="Dolbomi">
		select * from dolbomi where dol_id = #{dol_id}
	</select>

	<!-- 은수추가 시작 -->
	<update id="updateDolSal" parameterType="Dolbomi">
		UPDATE DOLBOMI SET
		SALARY = SALARY + #{salary}
		WHERE DOL_ID = #{dol_id}
	</update>
	<select id="selectPension" resultType="int">
		select sum(salary * 0.045)
		from dolbomi
		where salary > 310000
	</select>
	<select id="selectInsurance" resultType="int">
		select sum(salary *
		0.008)
		from dolbomi
	</select>
	<select id="selectDolTotalSalary" resultType="int">
		select sum(salary)
		from dolbomi
	</select>
	<select id="selectNhis" resultType="int">
		select sum(salary *0.0323)
		from dolbomi
		where salary > 278950
	</select>
	<select id="selectDolSalList" resultType="Dolbomi">
		SELECT *
		FROM DOLBOMI
		WHERE SALARY > 278950
	</select>
	<update id="deleteDolSalary">
		update DOLBOMI SET SALARY = 0
	</update>
	<select id="selectMaxDolEnroll" parameterType="string" resultType="string">
	 SELECT max(SUBSTR(DOL_ENROLLDATE,4,2))
	 FROM DOLBOMI
	 WHERE DOL_ENROLLDATE LIKE '%'|| #{value} ||'%'
	</select>
	
	<select id="selectDateCount" parameterType="string" resultType="int">
	 SELECT COUNT(*)
	 FROM DOLBOMI
	 WHERE DOL_ENROLLDATE LIKE '%'|| #{value} ||'%'
	</select>
	<select id="dolbomiSalarySelectList" resultType="Dolbomi">
	SELECT * FROM DOLBOMI
	</select>
	
	<!-- 은수 추가 끝 -->

	<!-- 미영 추가 시작 -->
	<select id="selectList" resultType="Dolbomi" parameterType="com.kh.ibom.common.CommonPaging">
		select *
		from (select rownum as num, dol_name, dol_id, grade_name, substr(dol_phone,1,3)||'-'||substr(dol_phone,4,4)||'-'||substr(dol_phone,8,4) as dol_phone,
		dol_email, to_char(dol_enrolldate, 'YYYY-MM-DD') as dol_enrolldate, office_code
		from (select * from dolbomi
		left join DOL_JUDGRADE using(dgrade_no)
    	inner join office using(office_code)
		<if test="keyword != null and search == 'id'">
		where dol_id like '%'||#{keyword}||'%'
		</if>
		<if test="keyword != null and search == 'name'">
		where dol_name like '%'||#{keyword}||'%'
		</if>
		<if test="keyword != null and search == 'center'">
		where office_code like '%'||#{keyword}||'%'
		</if>
		order by dol_enrolldate desc))		
		<![CDATA[
        where num >= #{startList} and num <= #{endList}
               ]]>
		
	</select>
	
<!-- 	<select id="assignSelectList" resultType="Dolbomi" parameterType="com.kh.ibom.common.CommonPaging">
		select *
		from (select rownum as num, dol_name, dol_id, substr(dol_phone,1,3)||'-'||substr(dol_phone,4,4)||'-'||substr(dol_phone,8,4) as dol_phone
		from (select * from dolbomi
		left join DOL_JUDGRADE using(dgrade_no)
    	inner join office using(office_code)
    	<if test="search == 'center'">
		where office_code like '%'||#{keyword}||'%'
		</if>
		order by dol_enrolldate desc))	
	</select> -->

	<select id="passcheck" resultType="_int" parameterType="DolPass">
		select count(*) from dol_pass where dol_name = #{dol_name} and pass_code =
		#{pass_code}
	</select>

	<select id="selectOne" parameterType="String"
		resultType="Dolbomi">
		select dol_name, dol_id, dol_phone, dol_email, dol_address, office_name,
		term_name, dol_termyesno, bank, dol_account, dol_enrolldate,
		grade_name, salary,
		dol_totaltime,TRATIVE_MEASURE, licen_name
		from dolbomi
		left join office using(office_code)
		left join TERMS using(TERM_CODE)
		left join DOL_JUDGRADE using(dgrade_no)
		left join dol_disciplinary using(dol_id)
		full join DOL_LICENSE on(license_code=licen_code)
		where dol_id = #{dol_id}
	</select>
	
	<select id="listCount" resultType="int" parameterType="com.kh.ibom.common.CommonPaging">
		select count(*)
		from dolbomi
		left join DOL_JUDGRADE using(dgrade_no)
    	inner join office using(office_code)
		<if test="keyword != null and search == 'id'">
		where dol_id like '%'||#{keyword}||'%'
		</if>
		<if test="keyword != null and search == 'name'">
		where dol_name like '%'||#{keyword}||'%'
		</if>
		<if test="keyword != null and search == 'center'">
		where office_code like '%'||#{keyword}||'%'
		</if>
	</select>
	
	
	<!-- 미영 추가 끝 -->
</mapper>
