<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iusersMapper">


   <!-- 아이디 중복 체크 --> 
	<select id="selectIdCheck" parameterType="string" resultType="_int">
	select count(user_id) from iusers where user_id = #{value}
	</select>
	
	<select resultType="Iusers" parameterType="String" id="selectOne">
   select * from iusers where user_id = #{user_id} 
   </select>
   
   <update id="updateDepoPay" parameterType="string">
   update iusers set depo_pay = 0
   where user_id = #{value}    
   </update>
   <select id="selectMaxDolEnroll" parameterType="string" resultType="string">
   	 SELECT max(SUBSTR(ENROLL_DATE,4,2))
	 FROM IUSERS
	 WHERE ENROLL_DATE LIKE '%'|| #{value} || '%'
   </select>
   <select id="selectDateCount" parameterType="string" resultType="int">
     SELECT count(*)
	 FROM IUSERS
	 WHERE ENROLL_DATE LIKE '%'|| #{value} || '%'
   </select>
   
   <!-- 회원가입 -->
   <insert id="insertIusers" parameterType="Iusers">
   	insert into iusers values (
   		#{user_id}, #{resident_no}, #{user_pwd}, #{user_name}, #{user_tel}, 
   		#{user_phone}, #{user_email}, #{user_address}, #{sinm}, #{sggnm},
   		#{cctv_alter}, #{pet_alter}, #{multicultural_alter}, #{latchkey_alter}, #{multichild_alter},
   		#{father_alter}, #{mather_alter}, #{grand_alter}, #{basiclife_alter}, #{medical_alter},
   		#{working_alter}, #{disabled_alter}, #{second_class}, #{etc_rearing}, #{place_agree},
   		#{reqst_cours}, #{card_sms}, #{license_alter}, #{service_place}, #{limit_code}, 
   		#{igrade_no}, #{office_code}, sysdate, sysdate,#{del_date},
   		#{agree1}, #{agree2}, #{agree3}, #{agree4}, default
   		)
   </insert>
</mapper>
