<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

	<select id ="selectAllListCount" parameterType="hashmap" resultType="int">
   select count(*) from notice 
   <if test="stitle != null and stitle !=''">
      where notice_title like '%'||#{stitle}||'%'
   </if>
   <if test="user_id != null and user_id !=''">
      where emp_name like '%'||#{user_id}||'%'
   </if>
	</select>

	<select id="selectList" resultType="notice" parameterType="com.kh.ibom.common.CommonPaging">
   
      select *
      from (select rownum rnum, notice_no, emp_name, notice_title, original_filepath, rename_filepath, notice_date, notice_check, notice_content
           from (select * from notice
                    <if test="stitle != null and stitle !=''">
                  where notice_title like '%'||#{stitle}||'%'
                  </if>
                  <if test="user_id != null and user_id !=''">
                  where emp_name like '%'||#{user_id}||'%'
                  </if>
                    order by notice_date desc))
                    <![CDATA[
        where rnum >= #{startList} and rnum <= #{endList}
               ]]>
		</select>
		<!-- 게시글 상세보기 조회 -->
		<select id="noticeDetailView" resultType="com.kh.ibom.noitce.model.vo.Notice">
			select * from notice
			where notice_no = #{notice_no}
		</select>
		<!-- 게시글 조회수 증가 처리 -->
		<update id="noticeViewCnt">
			update notice set notice_check = notice_check + 1
			where notice_no = #{notice_no}
		</update>
		<!-- 게시글 작성 -->
		<insert id="insertNotice" parameterType="Notice">
		insert into notice values (notice_seq.nextval, #{emp_name}, #{notice_title}, #{original_filepath}, #{rename_filepath}, sysdate, 0, #{notice_content})
		</insert>
		<!-- 게시글 수정 -->
		<update id="updateNotice" parameterType="Notice">
		update notice set emp_name = #{emp_name}, notice_title = #{notice_title}, original_filepath = #{original_filepath}, rename_filepath = #{rename_filepath},
		notice_date = sysdate, notice_check = 0, notice_content = #{notice_content} where notice_no = #{notice_no}
		</update>
		<!-- 게시글 삭제 -->
		<delete id="deleteNotice">
		delete from notice where notice_no = #{notice_no}
		</delete>
</mapper>