<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="questionsMapper">
<select id ="selectAllListCount" parameterType="hashmap" resultType="int">
   select count(*) from questions 
   <if test="stitle != null and stitle !=''">
      where qna_title like '%'||#{stitle}||'%'
   </if>
   <if test="user_id != null and user_id !=''">
      where user_name like '%'||#{user_id}||'%'
   </if>
</select>

<select id="selectList" resultType="questions" parameterType="com.kh.ibom.common.CommonPaging">
   
      select *
      from (select rownum rnum, qna_no, civil_petition, qna_title, qna_date, qna_state, qna_content, user_name, qna_answer
           from (select * from questions
                    <if test="stitle != null and stitle !=''">
                  where qna_title like '%'||#{stitle}||'%'
                  </if>
                  <if test="user_id != null and user_id !=''">
                  where user_name like '%'||#{user_id}||'%'
                  </if>
                    order by qna_no desc))
                    <![CDATA[
        where rnum >= #{startList} and rnum <= #{endList}
               ]]>
</select>

	<!-- qna 상세보기 조회 -->
	<select id="questionsDetailView" resultType="com.kh.ibom.questions.model.vo.Questions">
		select * from questions
		where qna_no = #{qna_no}
	</select>
	<!-- qna 작성 -->
	<insert id="iuserinsertQuestions" parameterType="com.kh.ibom.questions.model.vo.Questions">
	insert into questions values (questions_seq.nextval, 'Y', #{user_service}, #{civil_petition}, #{qna_title}, sysdate, '미처리', #{qna_content}, null, #{user_name}, null, #{term_code})
	</insert>
	<insert id="dolinsertQuestions" parameterType="com.kh.ibom.questions.model.vo.Questions">
	insert into questions values (questions_seq.nextval, 'Y', #{user_service}, #{civil_petition}, #{qna_title}, sysdate, '미처리', #{qna_content}, null, null, #{dol_name}, #{term_code})
	</insert>
	<!-- qna 삭제 -->
	<delete id="deleteQuestions">
	delete from questions where qna_no = #{qna_no}
	</delete>
	<!-- qna 수정 -->
	<update id="updateQuestions">
	update questions set qna_answer = #{qna_answer}, qna_state = '처리완료' where qna_no = #{qna_no}
	</update>
	

	

</mapper>