<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="applyMapper">
	<insert id="insertApply1" parameterType="ServiceApply1">
      insert into service_apply1 values('ser1_00'||SERVICE1_SEQ.nextval, #{user_id}, #{apply_reason}, #{transferor}, #{dolbom_place}, #{apply1_card}, #{before_req}, #{interview_req}, 
      <if test="req_institution != null">
      #{req_institution},
      </if>
      <if test="req_institution == null">
      null,   
      </if>
      <if test="req_dolbomi != null">
       #{req_dolbomi},
      </if>
      <if test="req_dolbomi == null">
      null,
      </if>
      
      null)
   </insert>
   
   <select id="selectServiceNum" resultType="ServiceApply1">
      SELECT *
      FROM SERVICE_APPLY1
      WHERE SERVICE1_NO like 'ser1_00' || (SELECT MAX(TO_NUMBER(SUBSTR(SERVICE1_NO,8))) MAX_NUM
                                                      FROM SERVICE_APPLY1)
   </select>
   
   <select id="selectServiceNum2" resultType="ServiceApply2">
      SELECT *
      FROM SERVICE_APPLY2
      WHERE SERVICE2_NO like 'ser2_00' || (SELECT MAX(TO_NUMBER(SUBSTR(SERVICE2_NO,8))) MAX_NUM
                                                      FROM SERVICE_APPLY2)
   </select>
   
   <insert id="insertApply2" parameterType="ServiceApply2">
      insert into service_apply2 values('ser2_00'||SERVICE2_SEQ.nextval, 
      #{service1_no},
      #{user_id},
      #{service_type},#{apply_date},#{care_day},#{start_time},
      #{end_time},#{using_time},#{using_charge},#{interview_fee},
      #{total_self_pay},#{total_pay},
      <if test="interview_fee == 0">
      null,null,null
      </if>
      <if test="interview_fee != 0">
      #{interview_date},#{interview_time},'돌보미 배정중'
      </if>
      ,null,'시간제', '돌보미 배정중', sysdate)
      
   </insert>
   <insert id="insertApply3" parameterType="ServiceApply3">
      insert into service_apply3 values(
      #{service2_no},
      #{service1_no},
      #{family_code}, 
      'N', 
      #{gov_fund}, 
      #{personal_charge},
      #{care_user_time})
   </insert>
	<!--  은수 시작 =============================================== -->
	<select id="selectDolService1List" parameterType="string" resultType="ServiceApply1">
		select * from SERVICE_APPLY1 where dolbomi_id = #{value}
	</select>
	<select id="selectDolService2List" parameterType="string" resultType="ServiceApply2">
		select * from SERVICE_APPLY2 where dolbomi_id = #{value}
	</select>
	<select id="selectDetailAct" parameterType="ServiceApplyNumbers" resultType="ServiceApply2">
		select * from SERVICE_APPLY2 where service2_no = #{service2_no}
	</select>
	<select id="selectOneDetailAct" parameterType="string" resultType="ServiceApply1">
		select * from SERVICE_APPLY1 where service1_no = #{value}
	</select>
	<select id="selectOneA3DetailAct" parameterType="ServiceApply2" resultType="ServiceApply3">
		select *
		 from SERVICE_APPLY3
		 where service1_no = #{service1_no} and FAMILY_CODE = #{family_code} AND SERVICE2_NO = #{service2_no}
	</select>
	<update id="updateLogCategory" parameterType="SynthesisActLog">
		update SERVICE_APPLY3 set LOG_CATEGORY = 'Y'
		where SERVICE2_NO = #{service2_no} AND FAMILY_CODE = #{family_code}
	</update>
	<update id="updateLogCategory2" parameterType="ActListView">
		update SERVICE_APPLY2 set APPLY_STATUS = '서비스 완료'
		where service1_no = #{service1_no} and service2_no = #{service2_no}
	</update>
	<select id="LogCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM SERVICE_APPLY2
		JOIN SERVICE_APPLY3 USING(SERVICE2_NO)
		WHERE LOG_CATEGORY = 'N' AND DOLBOMI_ID  = #{value}
	</select>
	<select id="selectAdminActLogService" parameterType="string" resultType="ServiceApply2">
		select *
		from SERVICE_APPLY2 
		where service2_no = #{value}
	</select>
	<select id="selectServiceCalendar" parameterType="ServiceCalendar" resultType="ServiceCalendar">
		select APPLY_DATE, D.SERVICE2_NO, E.SERVICE1_NO, E.LOG_CATEGORY,E.FAMILY_CODE,D.APPLY_STATUS
		from SERVICE_APPLY2 D
		LEFT JOIN SERVICE_APPLY3 E ON D.SERVICE2_NO = E.SERVICE2_NO
		where 
		<if test="dol_id != null">
		dolbomi_id = #{dol_id}
		</if>
		<if test="user_id != null">
		user_id = #{user_id}
		</if>
		
	</select>
	<select id="selectTotalUsingTime" parameterType="string" resultType="int">
		SELECT sum(USING_TIME)
		FROM SERVICE_APPLY2
		WHERE APPLY_DATE LIKE '__/' ||#{using_time} ||'%' AND DOLBOMI_ID = #{dolbomi_id}
	</select>
	
	<update id="cancelService" parameterType="string">
		UPDATE SERVICE_APPLY2 SET APPLY_STATUS = '취소 요청'
		WHERE SERVICE2_NO = #{value}
	</update>
	<!--  은수 끝 ============================================================= -->
</mapper>
