<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--  oracle null 처리  -->
   <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
	<typeAliases>
		<typeAlias type="com.kh.ibom.iusers.model.vo.Iusers"	alias="Iusers" />
		<typeAlias type="com.kh.ibom.emp.model.vo.Emp" alias="Emp" />
		<typeAlias type="com.kh.ibom.common.CommonPaging" alias="CommonPaging"/>
		<!-- 로하 추가 -->
		<typeAlias type="com.kh.ibom.user_family.model.vo.UserFamily" alias="UserFamily" />
		<typeAlias type="com.kh.ibom.disease_list.model.vo.DiseaseList" alias="DiseaseList" />
		<typeAlias type="com.kh.ibom.restrict_list.model.vo.RestrictList"	alias="RestrictList" />
		<typeAlias type="com.kh.ibom.firstaid.model.vo.Firstaid"	alias="Firstaid" />
		<typeAlias type="com.kh.ibom.card.model.vo.Card"	alias="Card" />
		<typeAlias type="com.kh.ibom.refund_account.model.vo.RefundAccount"	alias="RefundAccount" />
		<typeAlias type="com.kh.ibom.out_iusers.model.vo.Outiusers"	alias="Outiusers" />
		<typeAlias type="com.kh.ibom.terms.model.vo.Terms"	alias="Terms" />
		<typeAlias type="com.kh.ibom.limit_grade.model.vo.LimitGrade" alias="LimitGrade" />
		<typeAlias type="com.kh.ibom.user_grade.model.vo.UserGrade"	alias="UserGrade" />
		<typeAlias type="com.kh.ibom.child_judgment_view.model.vo.ChildJudgmentView" 	alias="ChildJudbmentView" />
		<typeAlias type="com.kh.ibom.user_info_view.model.vo.UserInfoView" alias="UserInfoView" />
		<typeAlias type="com.kh.ibom.office.model.vo.Office"	alias="Office" />
		<typeAlias type="com.kh.ibom.certified.model.vo.Certified"	alias="Certified" />
		<!-- 로하 추가 끝 -->
		<!-- 미영 추가 -->
		<typeAlias type="com.kh.ibom.dol_pass.model.vo.DolPass"
			alias="DolPass" />
		<typeAlias type="com.kh.ibom.dolbomi.model.vo.Dolbomi"
			alias="Dolbomi" />

		<typeAlias
			type="com.kh.ibom.dol_disciplinary.model.vo.DolDisciplinary"
			alias="DolDisciplinary" />

		<typeAlias
			type="com.kh.ibom.dol_judgrade.model.vo.DolJudgrade"
			alias="DolJudgrade" />

		<typeAlias type="com.kh.ibom.assignment.model.vo.Assignment"
			alias="Assignment" />

		<typeAlias type="com.kh.ibom.liketo.model.vo.LikeTo"
			alias="Liketo" />

		<typeAlias type="com.kh.ibom.interview.model.vo.Interview"
			alias="Interview" />
			
		<typeAlias type="com.kh.ibom.interview.model.vo.InterUpdate"
		alias="InterUpdate" />

		<typeAlias
			type="com.kh.ibom.alldayserv_ap.model.vo.AlldayServAp"
			alias="AlldayServAp" />

		<!-- 미영 추가 끝 -->
		<!-- 은수 추가 -->
		<typeAlias type="com.kh.ibom.act_list_view.model.vo.ActListView"
			alias="ActListView" />
		<typeAlias type="com.kh.ibom.authority.model.vo.Authority"
			alias="Authority" />
		<typeAlias
			type="com.kh.ibom.account_sumary.model.vo.AccountSumary"
			alias="AccountSumary" />
		<typeAlias
			type="com.kh.ibom.allday_actlog.model.vo.AlldayActLog"
			alias="AlldayActLog" />
		<typeAlias type="com.kh.ibom.deposit.model.vo.Deposit"
			alias="Deposit" />
		<typeAlias type="com.kh.ibom.dol_salary.model.vo.DolSalary"
			alias="DolSalary" />
		<typeAlias
			type="com.kh.ibom.nomal_actlog.model.vo.NomalActLog"
			alias="NomalActLog" />
		<typeAlias
			type="com.kh.ibom.synthesis_actlog.model.vo.SynthesisActLog"
			alias="SynthesisActLog" />
		<typeAlias
			type="com.kh.ibom.service_apply.model.vo.ServiceApplyNumbers"
			alias="ServiceApplyNumbers" />
		<typeAlias
			type="com.kh.ibom.act_list_view.model.vo.ActStEnd"
			alias="ActStEnd" />
		<typeAlias
			type="com.kh.ibom.act_list_view.model.vo.ActLogSearchDate"
			alias="AsDate" />
		<typeAlias
			type="com.kh.ibom.common.CommonSearchDate"
			alias="CommonSearchDate" />
		<typeAlias
			type="com.kh.ibom.deposit.model.vo.DepositAdmin"
			alias="DepositAdmin" />
		<typeAlias
			type="com.kh.ibom.service_apply.model.vo.ServiceCalendar"
			alias="ServiceCalendar" />
		<typeAlias
			type="com.kh.ibom.salary_day.model.vo.SalaryDay"
			alias="SalaryDay" />
		<typeAlias
			type="com.kh.ibom.common.ReturnActVo"
			alias="ReturnActVo" />
		
      <!-- 은수 추가 끝 -->
      <!-- 형규시작 -->
      <typeAlias 
         type="com.kh.ibom.service_apply.model.vo.ServiceApply3" 
         alias="ServiceApply3"/>
         <typeAlias type="com.kh.ibom.service_apply.model.vo.ServiceApply1"
         alias="ServiceApply1"/>
      <typeAlias type="com.kh.ibom.service_apply.model.vo.ServiceApply2"
         alias="ServiceApply2"/>
		<!-- 은수 추가 끝 -->
		<!-- 민제 추가 -->
		<typeAlias
			type="com.kh.ibom.complaint.model.vo.Complaint"
			alias="Complaint" />
			<typeAlias
			type="com.kh.ibom.noitce.model.vo.Notice"
			alias="Notice" />
			<typeAlias
			type="com.kh.ibom.questions.model.vo.Questions"
			alias="Questions" />
		<!-- 민제 끝 -->
		<!-- 형규 추가 -->
      <typeAlias 
         type="com.kh.ibom.service_apply.model.vo.ServiceApply1" 
         alias="ServiceApply1"/>
      <typeAlias 
         type="com.kh.ibom.service_apply.model.vo.ServiceApply2" 
         alias="ServiceApply2"/>
         <typeAlias 
         type="com.kh.ibom.service_apply.model.vo.ServiceApply3" 
         alias="ServiceApply3"/>
      <!-- 형규 추가 끝 -->
	</typeAliases>
	<mappers>
		<mapper resource="mappers/iusers-mapper.xml" />
		<mapper resource="mappers/emp-mapper.xml" />
		<!-- 로하 추가 -->
		<mapper resource="mappers/user_family-mapper.xml" />
		<mapper resource="mappers/disease_list-mapper.xml" />
		<mapper resource="mappers/restrict_list-mapper.xml" />
		<mapper resource="mappers/firstaid-mapper.xml" />
		<mapper resource="mappers/card-mapper.xml" />
		<mapper resource="mappers/refund_account-mapper.xml" />
		<mapper resource="mappers/out_iusers-mapper.xml" />
		<mapper resource="mappers/terms-mapper.xml" />
		<mapper resource="mappers/limit_grade-mapper.xml" />
		<mapper resource="mappers/user_grade-mapper.xml" />
		<mapper resource="mappers/child_judgment_view-mapper.xml" />
		<mapper resource="mappers/user_info_view-mapper.xml" />
		<mapper resource="mappers/office-mapper.xml" />
		<mapper resource="mappers/certified-mapper.xml" />
		<!-- 로하 추가 끝 -->
		<!-- 미영 추가 -->
		<mapper resource="mappers/dol_pass-mapper.xml" />
		<mapper resource="mappers/dolbomi-mapper.xml" />

		<mapper resource="mappers/dol_disciplinary-mapper.xml" />

		<mapper resource="mappers/dol_judgrade-mapper.xml" />

		<mapper resource="mappers/assignment-mapper.xml" />

		<mapper resource="mappers/liketo-mapper.xml" />

		<mapper resource="mappers/interview-mapper.xml" />

		<mapper resource="mappers/alldayserv_ap-mapper.xml" />

		<!-- 미영 추가 끝 -->
		<!-- 은수 추가 -->
		<mapper resource="mappers/actListView-mapper.xml" />
		<mapper resource="mappers/actLog-mapper.xml" />
		<mapper resource="mappers/authority-mapper.xml" />
		<mapper resource="mappers/deposit-mapper.xml" />
		<mapper resource="mappers/dol_salary-mapper.xml" />
		<!-- 은수 추가 끝 -->
		<!-- 형규 추가 -->
      <mapper resource="mappers/service_apply-mapper.xml"/>
      <!-- 형규 끝 -->
      <!-- 민제 추가 -->
		<mapper resource="mappers/complaint-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/questions-mapper.xml" />
		<!-- 민제 끝 -->
	</mappers>
</configuration>
