@charset "utf-8";

/*
 * File       : rwd_member.css
 * Author     : STUDIO-JT (SUMI, HEE)
 * Guideline  : JTstyle.1.1
 *
 * SUMMARY:
 * 01) 1480px
 * 02) 1023px
 * 03) 768px
 * 04) 540px
 * 05) 380px
 * 06) 340px
 */



/* **************************************** *
 * 1480px
 * **************************************** */
@media (max-width: 1480px){
	/* member */
	.member_character_wrap { width:720px; height:420px;}
	.member_character_kkumi {left:-27%;}
	.member_character_kkumi figure {top: -347px;left: 32%;max-width: 270px;}
	.member_character_dani {left:60%;}
	.member_character_dani figure {top: -204px;left: 31.3%;max-width: 270px;}

	/* Login */
	.body_login .member_character_kkumi { bottom:-50%;}
	.body_login .member_character_dani { bottom:-45%;}
}



/* **************************************** *
 * 1023px
 * **************************************** */
@media (max-width: 1023px){
    /* member */
	.member_character_wrap { width:600px; height:360px;}
	.member_character_kkumi {left:-30%;}
	.member_character_kkumi figure {top: -322px;left: 30.3%;max-width: 250px;}
	.member_character_dani {left:55%;}
	.member_character_dani figure {top: -189px;left: 29.5%;max-width: 250px;}

    /* Login */
	.body_login .member_character_kkumi { bottom:-50%;}
	.body_login .member_character_dani { bottom:-45%;}

	.login_temp { padding:50px 56px;}

    /* Join */
	.join_message_temp > b {font-size:25px;}

	/* Find id pw */
	.find_idpw_content {padding-left:60px; padding-right:60px;}
	.find_idpw_content .jt_form_data .jt_form_field {width: 68%;}
	.find_idpw_content .jt_form_data .jt_form_field_wrap{ width:81%;}
	.find_idpw_content .authenticate_wrap  {width: 68%;}
	.find_idpw_content .jt_form_data .authenticate_wrap .jt_form_field { width:100%; padding-right:50px;}
	.find_idpw_content .jt_btn {width:30%; margin-left:2%;}
}



/* **************************************** *
 * 768px
 * **************************************** */
@media (max-width: 768px){
    /* member */
    .member_character_wrap { display:none;}

    /* Login */
	.login_temp  { padding:40px 35px;}
	.login_temp_title {margin-bottom:20px;}
	.login_temp_title h2 {font-size:18px;}
	.login_temp_title p {font-size:14px;}
	.login_social_list > li > a {font-size:15px;line-height:52px;}
	.login_extend {margin-top:20px;}
	.login_extend > li {padding: 0 15px;}
	.login_extend a {font-size:14px;}
	.login_separator {margin:20px 0;}

	/* Join */
	.join_content {padding: 32px 0 26px;}
	.join_content > p {font-size:15px;}

    p + .join_message_temp {margin-top:30px;}
    .join_message_temp {padding: 25px 20px; padding:35px 30px;}
	.join_message_temp > p {font-size:15px;}
	.join_message_temp > b {font-size:23px;}

	.join_extend_wrap {margin-top: 40px; padding-top: 42px;}
	.join_agree_wrap .join_extend_title {margin-bottom: 25px;}
	.join_extend_title > h2 {font-size: 20px;}
	.join_extend_title > p {font-size: 15px; line-height: 1.5;}
	.join_agree_all > b {font-size: 16px; line-height: 1.5}
	.join_agree_terms {margin-top: 30px; padding-top: 20px;}
	.join_agree_terms > li {padding: 16px 0;}
	.join_agree_terms_title > b {font-size: 16px;}
	.join_agree_terms_title > a {margin-left: 10px;}
	.join_agree_terms_title > a:after {margin-top: -7px;}
	.join_agree_terms_title > a > span {font-size: 13px;}
	.join_agree_terms_desc > p {font-size: 13px; line-height: 1.5}

	.join_control {margin-top:30px;}

    /* Find id pw */
	.find_idpw_tab li a { font-size:16px; padding: 18px 20px 17px;}
	.find_idpw_content {padding:40px 30px;}
	.find_idpw_content .jt_form_data .jt_form_field, .find_idpw_content .authenticate_wrap {width:-webkit-calc(100% - 130px);width:calc(100% - 130px);}
	.find_idpw_content .jt_form_data .jt_form_field_wrap{ width:75%;}
	.find_idpw_content .jt_btn {width:120px;margin-left:10px;padding: 13px 10px 14px;font-size:14px;}
	.find_idpw_content .find_idpw_btn {width: 120px; height: 47px;padding: 12px 12px 13px;}
	.find_idpw_content .time_limit {top:14px;}
	.find_idpw_result {margin-top:30px;}
	.find_idpw_result p { font-size:15px;line-height:1.5;}
}



/* **************************************** *
 * 540px
 * **************************************** */
@media (max-width: 540px){
    /* Login */
	.login_temp { padding:25px 20px;}
	.login_temp_title { margin-bottom:14px;}
	.login_temp_title h2 {font-size:16px;}
	.login_extend {margin: 12px -10px -8px;}
    .login_extend > li {padding: 0 10px;}
	html.ios .login_extend > li:before {margin-top: -6px;}
	.login_social_list > li {height:50px;}
	.login_social_list > li > a { font-size:14px; padding-left:90px; line-height: 50px; }
	.login_social_list > li > a:before {width:55px; font-size:16px;}
	.login_social_list > li > a:after {left:55px; height: 16px; margin-top: -7px;}

	/* Join */
	.join_content {padding: 22px 0 20px;}
	.join_content:before, .join_content:after {height:3px;}
	.join_content > p {font-size:14px;}
	.join_control { margin-top:25px;}
	.join_control > * {margin-right:10px;}

    p + .join_message_temp {margin-top:20px;}
	.join_message_temp {padding: 25px 20px; }
	.join_message_temp > p {font-size:14px;}
	.join_message_temp > p br {display:none;}
	.join_message_temp > .join_control { margin-top:20px;}
	.join_message_temp > b {font-size:20px;}

	.join_complete .jt_btn_icon {min-width: 119px}
	.join_complete .jt_btn_icon > span {padding-right:20px;}
	.join_complete .join_message_temp > img { max-width:125px;}

	.join_extend_wrap {margin-top: 25px; padding-top: 27px;}
	.join_agree_wrap .join_extend_title {margin-bottom: 20px;}
	.join_extend_title > p {font-size: 14px;}
	.join_agree_all > b {font-size: 15px; padding-right: 100px;}
	.join_agree_all > b > span {font-size: 15px;}
	.join_agree_all > .jt_icheck_label {top: 0; margin-top: 0;}
	.join_agree_terms {margin-top: 25px; padding-top: 15px;}
	.join_agree_terms_title > a {margin-left: 6px;}
	.join_agree_terms_title > a > span {padding-right: 12px;}
	.join_agree_terms_title > a:after {margin-top: -8px;}
	.join_agree_terms_title > b {font-size: 15px;}
	html.ios .join_agree_terms_title > a:after {margin-top: -9px;}

    /* Find id pw */
	.find_idpw_tab li a { font-size:15px; padding: 15px 20px 14px;}
	.find_idpw_content {padding:30px 20px;}
	.find_idpw_content .jt_form_data { margin-bottom:28px;}
	.find_idpw_content .jt_form_data .jt_form_field_wrap { width:100%;}
	.find_idpw_content .jt_btn { font-size:13px;padding: 14px 8px 14px;}
	.find_idpw_content .find_idpw_btn {font-size: 14px;width: 110px; margin-left: 7px;}
	.find_idpw_content .jt_form_data .jt_form_field, .find_idpw_content .authenticate_wrap {width: -webkit-calc(100% - 117px);width: calc(100% - 117px)}
	.find_idpw_result {padding: 26px 25px 27px; margin-top:20px;}
	.find_idpw_result p {font-size:14px;}
	.find_idpw_result p br {display:none;}
	.find_idpw_control { padding-top:20px;}
	html.ios .find_idpw_result {padding: 28px 25px 25px;}
	html.ios .find_idpw_content .time_limit {top: 17px;}

}



/* **************************************** *
 * 380px
 * **************************************** */
@media (max-width: 380px) {
	/* Join */
	.join_agree_terms_title > b {display: block; line-height: 1.5;}
	.join_agree_terms_title > a {margin-left: 0; margin-top: 3px;}
	.join_agree_terms_title > .jt_icheck_label {top: 0; margin-top: 0;}
	.join_agree_terms > li {padding: 12px 0;}
}



/* **************************************** *
 * 340px
 * **************************************** */
@media (max-width: 340px) {
	.login_social_list > li > a {padding-left: 70px;}
    /* Join */
    .join_message_temp {padding: 22px 15px; }

    .join_complete .join_control > * {margin-right:6px;}
	.join_complete .jt_btn_icon {padding-left: 15px;padding-right: 15px;}

	.login_temp {padding: 20px 15px;}

	/* Find id pw */
	.find_idpw_content {padding: 20px 15px;}
}
