@charset "UTF-8";
.noticeBox2{
	/* width:770px; */
	padding: 15px;
    background: #fcf3ea;
    position: relative;
    border: 1px solid #f4ded4;
    margin: 10px 0;
}
.noticeBox2 p{
	text-align:left;
	font-size: 13pt;
    color: #555;
}
.noticeBox2 > .apply1 { 
	color: #ca3e00;
	font-family: 'nanumsquare_acr', sans-serif;
}
.noticeBox2 > .apply2 { 
	font-family: 'nanumsquare_acr', sans-serif;
	margin-top: 20px;
}

#termsBtn{
    border: 1px solid #ccc;
    background: #eee;
    display: inline-block;
    text-align: center;
    padding: 3px 15px;
    line-height: 18px;
    font-size: 15px;
    color: #626262;
}


.apply1 > tbody > tr > td:first-child{
	font-size:13pt;
	padding:15px 6px 15px 16px;
	background: #eee;
	color: #333;
    font-weight: normal;
}

.apply1 > tbody > tr > td:last-child{
	text-align:left;
	font-size:13pt;
	padding:15px 6px 15px 16px;
	color: #333;
    font-weight: normal;
} 

html.desktop .apply1 tr:hover td:first-child {  
	background: #eee;
	cursor: default;
	}
	
html.desktop .apply1 tr:hover td {    background: none;}

html.desktop .apply1 tr:hover td:last-child {  
	background: none;
	cursor: default;
	}
html.desktop .apply1 tr:hover td {    background: none;} 
/* **************************************** *
 * 카드조회 팝업 css
 * **************************************** */
 
.popHead{
	background: #f37233;
    overflow: hidden;
    display: block;
    height: 50px;
    position: relative;
}

.popHead h1 {
    line-height: 50px;
    font-size: 15pt;
    font-family: 'NanumGothic';
    font-weight: 600;
    padding-left: 35px;
    color: #fff;
}
/* **************************************** *
 * JT BOARD LIST3
 * **************************************** */
.jt_board_list3 {width: 100%;table-layout: fixed;padding-top: 5px;position: relative;}
.jt_board_list3:before {content: '';display: block;width: 100%;height: 5px;position: absolute;top: 0;left: 0;background-color: #f07e23;border-radius: 25px;overflow: hidden;}
.jt_board_list3 caption {width: 1px;height: 1px;position: absolute;top: 0;left: 0;font-size: 0;line-height: 0;overflow: hidden;}
.jt_board_list3 tr {width: 100%;}

.choose_cont{
	padding: 10px 0;font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.cardType_cont{
	padding: 10px 0;font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	border-right:1px solid #ddd;
}
.cardName_cont{
	padding: 10px 0;font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	border-right:1px solid #ddd;
}
.cardNum_cont{
	padding: 10px 0;font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	border-right:1px solid #ddd;
}
.cardDate_cont{
	padding: 10px 0;font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	border-right:1px solid #ddd;
}
/* .jt_board_list3 td{
	padding: 20px 0;font-size: 15px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
} */

/* html.desktop .jt_board_list3 tr:hover td {background: #f8f8f8;} */
html.ie .jt_board_list3 .jt_board_new {line-height: normal;}
html.ie .jt_board_list3 .jt_board_new:after {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%)}

.jt_board_list3 .type {width: 130px;}
.jt_board_list3 .hit {width: 130px;}
.jt_board_list3 .date {width: 160px;}
.jt_board_list3 .title {width: auto;}
.jt_board_list3 td.title {padding: 19px 31px 21px;text-align: left;}

html.ie .jt_board_list3_wrap {display: block; position: relative;}
html.ie .jt_board_list3_wrap:before {content: '';display: block;width: 100%;height: 5px;position: absolute;top: 0;left: 0;background-color: #f07e23;border-radius: 25px;overflow: hidden;}
html.desktop .jt_board_list3 tr:hover th {
	background: none;
	cursor: default;
}
.choose {
	padding: 10px 0; font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	background: #eee;
	width:50px; 
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.cardType {
	padding: 10px 0; font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	background: #eee;
	border-right: 1px solid #ddd;
}
.cardName {
	padding: 10px 0; font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	background: #eee;
	border-right: 1px solid #ddd;
}
.cardNum {
	padding: 10px 0; font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	background: #eee;
	border-right: 1px solid #ddd;
}
.cardDate {
	padding: 10px 0; font-size: 12px;font-weight: 400;text-align: center;color: #888;vertical-align: middle;border-bottom: 1px solid #ddd;cursor: pointer;-webkit-transition: background 300ms;transition: background 300ms;
	background: #eee;
	border-right: 1px solid #ddd;
}
/* 팝업 저장 버튼 css */
.popfooter{
	width:100%;
	height:100px;
	display:block;
}
.cardPop_save:hover {
    background: #cf3e07;
    border-color: #cf3e07;
}
.cardPop_save {
	float:right;
    display: block;
    vertical-align: top;
    width: 60px;
    height: 25px;
    padding: 0 0 2px;
    font-size: 9pt;
    font-weight: bold;
    color: #fff;
    border: 1px solid #f37233;
    border-radius: 4px;
    background: #f37233;
    outline: none;
    cursor: pointer;
    -webkit-transition: background 300ms, border-color 300ms;
    transition: background 300ms, border-color 300ms;
}
/* 팝업창 이용 약관 */
.popTerms{
	width:100%;
	background:#fefaef;
	border:1px solid #ddd;
	font-size:9pt;
	color:#888;
}
/* 팝업 닫기 버튼 css */
.popbottom{
	width:100%;
	height:100px;
	display:block;
	text-align:center;
}
.popbottom_wrap{
	display:inline-block;
	margin-top:20px;
}
.cardPop_close:hover {
    background: #7d7d7d;
    border-color: #7d7d7d;
}
.cardPop_close {
    display: block;
    vertical-align: top;
    width: 60px;
    height: 25px;
    padding: 0 0 2px;
    font-size: 9pt;
    font-weight: bold;
    color: #fff;
    border: 1px solid #696969;
    border-radius: 4px;
    background: #696969; 
    outline: none;
    cursor: pointer;
    -webkit-transition: background 300ms, border-color 300ms;
    transition: background 300ms, border-color 300ms;
}

/* textare css */
.feedback-input {
	resize : none;
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 15px;
    border-radius: 0;
    line-height: 22px;
    background-color: #ffffff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    height:150px;
    border: 1px solid #eee;
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    /*border: 3px solid #3498db;*/
    border-color: #f37233;
    color: #3c3c3c;
    outline: none;
    /*padding: 13px 13px 13px 54px;*/
}
.service_next_footer{
	width:100%;
	height:100px;
	display:block;
}
.service_next:hover {
    background: #cf3e07;
    border-color: #cf3e07;
}
.service_next {
	float:right;
    display: block;
    vertical-align: top;
    width: 80px;
    height: 35px;
    padding: 0 0 4px;
    font-size: 9pt;
    font-weight: bold;
    color: #fff;
    border: 1px solid #f37233;
    border-radius: 4px;
    background: #f37233;
    outline: none;
    cursor: pointer;
   
}
