@charset "utf-8";

/*
 * File       : sub_communicate.css
 * Author     : STUDIO-JT (JDY)
 * Guideline  : JTstyle.1.1
 *
 * Dependency : css/reset.css
 *              css/jt_strap.css
 *
 * SUMMARY:
 * 1) PW CHECK
 * 2) CHANGING INFO
 * 3) MY PAGE
 * 4) REMOVE ACCOUNT
 */



/* **************************************** *
 * PW CHECK
 * **************************************** */
/* content */
.pw_check .changing_info_content {padding-bottom: 42px;border-bottom:1px solid #ddd;}



/* **************************************** *
 * CHANGING INFO
 * **************************************** */
/* content */
.changing_info_content {padding: 54px 0 61px;position: relative;}
.changing_info_content:before {content: '';display: block;width: 100%;height: 5px;position: absolute;top: 0;left: 0;background-color: #f07e23;border-radius: 25px;overflow: hidden;}
.changing_info_section {border-top:1px solid  #ddd; padding-top:40px; margin-top:40px;}
.changing_info_content #profile_data_id {background-color:transparent; border:0; padding:0;}
.changing_info_small_title {font-size: 21px;line-height:1.33;color:#222;letter-spacing: -0.1em;position:relative;padding-left: 13px;padding-bottom: 17px;margin-top: -8px;}
.changing_info_small_title:before {content:'';position:absolute;top: 9px;left:0;width:6px;height:6px;background-color: #f07e23;border-radius:50%;}
.changing_info_content > p {font-size: 16px;font-weight: 400;line-height: 1.75;letter-spacing: -0.025em;color: #666;}
.changing_info_content .jt_form_data_user_id {margin-bottom: 18px;}
.changing_info_content .explain_block {margin-bottom:-3px;}
.changing_info_section.join_agree_terms {margin-top: 35px;padding-top: 21px;}
.changing_info_content_sns,
.changing_info_content_remove_account {padding: 35px 0 0;border-bottom: 1px solid #ddd;}
.changing_info_content_sns {margin-bottom: 65px;}
.changing_info_content_sns li {font-size:0;padding-left: 63px;padding-bottom:30px;margin-bottom:30px; border-bottom:1px solid #ddd;}
.changing_info_content_sns li:last-child{margin-bottom:0;border-bottom: 0;}
.changing_info_content_sns b {font-size:16px;line-height:1.75;color:#222;font-weight: 500;letter-spacing:-0.025em;display:inline-block;padding-right: 100px;vertical-align: middle;}
.changing_info_content_sns button {background-color:#222;border:1px solid #222;color:#fff;padding: 8px;text-align: center;max-width: 94px;margin-left: 0;}
.changing_info_content_sns button.active {background-color:#fff;border:1px solid #ddd;color:#222;}
html.desktop .changing_info .changing_info_content_sns button.active:hover {background-color: #f1f1f1;border: 1px solid #ddd;}
html.desktop .changing_info .changing_info_content_sns button:hover {background-color:#666;border:1px solid #666;}
.changing_info_content_sns p {font-size:16px;line-height:1.75;color:#666;letter-spacing:-0.025em;display:inline-block;padding-right: 100px;vertical-align: middle;padding-left :19px}
.changing_info_content_remove_account {font-size:0;padding-bottom: 30px;}
.changing_info_content_remove_account p {font-size:15px; line-height: 1.75; color:#222; letter-spacing:-0.025em;display:inline-block; padding-right:36px;vertical-align: middle; word-break:keep-all; }
.changing_info_content_remove_account .remove_account_btn {margin-left:0;background-color:#fff;border:1px solid #ddd;color:#222;padding: 8px;text-align: center;max-width: 124px;min-width: 114px;}
html.desktop .changing_info .changing_info_content_remove_account .remove_account_btn:hover {background-color: #f1f1f1;border: 1px solid #ddd;}

/* control */
.changing_info_control{margin-top: 40px;font-size: 0;text-align: center;}
.changing_info_control > * {margin-right: 15px;}
.changing_info_control > *:last-child {margin-right: 0;}



/* **************************************** *
 * MY PAGE
 * **************************************** */
.mypage .jt_grid_tab {float: right; padding: 4px 0;}
.mypage .jt_grid_tab + * {clear: both;}
.mypage .jt_grid_list_wrap {clear: both; padding-top: 43px;}
.mypage .jt_grid_list_wrap:before {height: 3px;}
.mypage .jt_grid_list {margin-top: 0;}

.mypage_info {background: #f4f4f4;border-radius: 9px;padding: 31px 37px 34px;font-size: 0;margin-bottom: 54px;}
.mypage_info h2 {display: inline-block; vertical-align: middle; font-size: 26px; color: #222; letter-spacing: -0.05em;}
.mypage_info a {display: inline-block;vertical-align: middle;font-size: 15px;color: #f07e23;letter-spacing: -0.05em;border: 1px solid #f07e23;border-radius: 4px;padding: 7px 18px 8px;margin-left: 14px;margin-top: 3px;transition: background 300ms, color 300ms;-webkit-transition: background 300ms, color 300ms;}

html.desktop .mypage_info a:hover {background: #f07e23; color: #fff;}
html.ie .mypage_info a {padding: 8px 18px;}
html.ie .body_find_pw .jt_valid_message > p:before {margin-top: -9px;}

.mypage_recent h4 {position: relative; font-size: 21px; color: #222; letter-spacing: -0.05em; padding-left: 15px; float: left; margin-bottom: 17px;}
.mypage_recent h4:before {content:''; display: block; width: 6px; height: 6px; position: absolute; top: 11px; left: 0; background: #f07e23; border-radius: 50%;}



/* **************************************** *
 * REMOVE ACCOUNT
 * **************************************** */
.remove_account_container {position:relative;padding-top: 54px;padding-bottom: 64px;}
.remove_account_container:before,
.remove_account_container:after {content: '';display: block;width: 100%;height: 5px;position: absolute;left: 0;border-radius: 25px;overflow: hidden;}
.remove_account_container:before {top: 0;background-color: #f07e23;}
.remove_account_container:after {bottom:0; background-color:#222;}
.remove_account_info_container {padding-bottom: 39px;margin-bottom: 35px;border-bottom:1px solid #ddd;}
.remove_account_info.dankkum_sub_info {padding-top:42px;padding-bottom: 44px;}
.remove_account_info_checkbox {text-align:right;padding-top: 25px;}

.remove_account_promise {font-size:18px; line-height:1.66; color: #f07e23;letter-spacing:-0.025em; word-break:keep-all;}

.remove_account_reason_container {padding-top: 26px;}
.remove_account_reason_container .jt_form_label_wrap {width:100%;padding-top: 0;}
.remove_account_reason_container .jt_form_field_wrap {width:100%;padding-top: 28px;}
.remove_account_reason_container > .jt_form_label_wrap > .jt_label {font-size:17px;line-height: 1.6;color:#222;letter-spacing:-0.025em;word-break:keep-all;}
.remove_account_reason_container > .jt_form_label_wrap > .jt_label b {color:#e63424;}
.remove_account_reason_container > .jt_form_label_wrap > .jt_label em {color:#888;}
.remove_account_reason_container > .jt_form_label_wrap > .jt_label i {font-size: 14px;font-style: normal;color: #888;}
.remove_account_reason_container .jt_form_data_reason {margin-bottom:-28px}
.remove_account_reason_container .jt_form_data_reason .jt_icheck_label {width:50%;display:inline-block;margin-right: 0;margin-bottom: 20px;}

.remove_account_bar_title {margin-bottom: 15px;overflow: hidden;}
.remove_account_bar_title > span {font-size: 15px;font-weight: 400;letter-spacing: -0.025em;line-height: 1.75;color: #222;}
.remove_account_bar_title > span:first-child {float: left;}
.remove_account_bar_title > span:last-child {float: right;}
.remove_account_bar {display: block;width: 100%;height: 8px;background: rgb(204,204,204);background: -moz-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(34,34,34,1) 100%);background: -webkit-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(34,34,34,1) 100%);background: -webkit-gradient(linear,  left top, right top,  from(rgba(204,204,204,1)),to(rgba(34,34,34,1)));background: linear-gradient(to right,  rgba(204,204,204,1) 0%,rgba(34,34,34,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#222222',GradientType=1 );border-radius: 20px;}
.remove_account_bar_choice {height: 24px;margin-top: 20px;position: relative;}
.remove_account_bar_choice .jt_icheck_label {position: absolute;margin-right: 0;}
.remove_account_bar_choice .jt_icheck_label:nth-child(1) {left: 0%;}
.remove_account_bar_choice .jt_icheck_label:nth-child(2) {left: -webkit-calc(31.5% - 24px);left: calc(31.5% - 24px);}
.remove_account_bar_choice .jt_icheck_label:nth-child(3) {left: -webkit-calc(55% - 24px);left: calc(55% - 24px);}
.remove_account_bar_choice .jt_icheck_label:nth-child(4) {left: -webkit-calc(78.5% - 24px);left: calc(78.5% - 24px);}
.remove_account_bar_choice .jt_icheck_label:nth-child(5) {left: -webkit-calc(100% - 24px);left: calc(100% - 24px);}
